<p-card class="w-12 h-full">
  <ng-template pTemplate="header">
      <div class="flex justify-content-between flex-wrap">
          <h3 class="ml-4">
              Registro de Productos
          </h3>
          <div class="mt-2 mr-2">
              <a 
                pButton 
                pRipple
                label="Crear Productos" 
                icon="pi pi-plus"
                class="bg-cyan-600"
                [routerLink]="['/productos/nuevo']">
              </a>
          </div>
      </div>
  </ng-template>
  <p>
      <p-table [value]="productos">
          <ng-template pTemplate="header">
              <tr>
                  <th>Nombre</th>
                  <th>Marca</th>
                  <th>Precio</th>
                  <th>Stock Mínimo</th>
                  <th>Cantidad</th>
                  <th>Tipo de Producto</th>
                  <th class="flex justify-content-center flex-wrap">Acciones</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-producto>
              <tr>
                  <td>{{ producto.nombre }}</td>
                  <td>{{ producto.marca }}</td>
                  <td>{{ producto.precio | currency }}</td>
                  <td>{{ producto.stockmin }}</td>
                  <td>{{ producto.cantidad }}</td>
                  <td>{{ producto.tipoproducto }}</td>
                  <td>
                      <button 
                          pButton 
                          pRipple
                          icon="pi pi-print"
                          class="bg-cyan-600 mr-1"
                      ></button>
                      <a 
                          pButton 
                          pRipple
                          icon="pi pi-pencil"
                          severity="warning"
                          class="mr-1"
                          [routerLink]="['/productos/edit', producto.id]">
                      </a>
                  </td>
              </tr>
          </ng-template>
      </p-table>
  </p>
</p-card>
